 <%= f.label :body %>
     <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
   <% end %>
   <% if post.image? %>
          <div class="form-group">
            <p>Current Image</p>
            <%= image_tag( post.image.large.url ) %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image %>
          <%= f.hidden_field :image_cache %>
        </div>
   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
